@model ClassActivity2.ViewModels.HardwareVM
@using ClassActivity2.ViewModels
@using System.Globalization
@using System.Data
@{
    ViewBag.Title = "Index";
}

<h1>Stock Purchased from Vendor:</h1>
<div class="criteria">
    @using (Html.BeginForm("DoReport", "Hardware", FormMethod.Post))
    {
        <label>Select Vendor</label>
        
    }
</div>
